extends layouts/app

include mixins/osu

block title
    title #{replay.title} - osu!replay

block content

    .alert.alert-warning
        p Keep a save of your link, because if you lose it, you will not be able to get it back.


    .jumbotron
        h1  #{replay.title}, #[small by #[+profile(replay)]] #[+avatar(replay)]
        .row
            .col-md-6

                br
                p #[b Game mode:] #{replay.get_game_mode()}
                br
                p #[b Beatmap:] #[+beatmap(replay)]
                br
                p #[b Mods :] #[+mods(replay)]
                br
                p #[b Score:] #{replay.score}
                br
                p #[b Combo max:] #{replay.combo}
                br

            .col-md-6
                br
                .well
                    p #[b Description:] #{replay.description}

                a.btn.btn-block.btn-success(href="#{replay.link}") Download
                h5
                    font(color='#BABABA') Replay #{replay._id}

    center
        a.btn.btn-primary(href="/") Upload another replay

