extends layouts/app

include mixins/osu

block title
    title #{replay.title} - osu!replay

block content

    .alert.alert-warning
        p Keep a save of your link, because if you lose it, you will not be able to get it back.

    .jumbotron
        h1  #{replay.title}, #[small by #[+profile(replay)]] #[+avatar(replay)]
        .row
            .col-md-6

                br
                p #[b Game mode:] #{replay.get_game_mode()}
                br
                p #[b Beatmap:] #[+beatmap(replay)]
                br
                p #[b Mods :] #[+mods(replay)]
                br
                p #[b Score:] #{replay.score}
                br
                p #[b Combo max:] #{replay.combo}
                br

            .col-md-6
                br
                .well
                    p #[b Description:] #{replay.description}

                a.btn.btn-block.btn-success(href="#{replay.link}") Download
                h5
                    font(color='#BABABA') Replay #{replay._id}

    .jumbotron
        p
            b Don't hesitate to let a comment!
        br
        #disqus_thread.row

    center
        a.btn.btn-primary(href="/") Upload another replay

block scripts
    script(type="text/javascript").
        var disqus_config = function()
        {
            this.page.url = "http://osu-replay.herokuapp.com/replay/#{replay._id}";
            this.page.identifier = "#{replay._id}";
            this.page.title = "#{replay.title}";
        };

        (function() {
            var d = document, s = d.createElement('script');

            s.src = '//osureplay.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

    noscript Please enable JavaScript to view the #[a(href="https://disqus.com/?ref_noscript" rel="nofollow") comments powered by Disqus.]
