extends layouts/app

block title
    title #{replay.title} - osu!replay

block content

    .alert.alert-warning
        p Keep a save of your link, because if you lose it, you will not be able to get it back.


    .jumbotron
        h1  #{replay.title}, 
                    small by 
                        a(href="https://osu.ppy.sh/u/#{replay.player.user_id}") #{replay.player.username} 
                        img(src="http://a.ppy.sh/#{replay.player.user_id}" width="50px" height="50px")

        .row
            .col-md-6
                
                br
                p #[b Game mode:] #{replay.mode}
                br
                p #[b Beatmap:] #{replay.beatmap.artist} - #{replay.beatmap.title}
                p #[b Mods :] #{replay.mods}
                p #[b Score:] #{replay.score}
                p #[b Combo max:] #{replay.combo}
                br
                
            .col-md-6
                br
                .well
                    p #[b Descritpion:] #{replay.description}

                a.btn.btn-block.btn-success(href="#{replay.link}") Download
                h5
                    font(color='#BABABA') Replay #{replay.id}

    center
        a.btn.btn-primary(href="/") Upload another replay

