mixin form(id, action, method, enctype)
    form(id=id, action=action, method=method, enctype=enctype)
        block

//- Text input
mixin text(id, name, label)
    +control(id, name, label)
        +input(id, "text", name)

//- File input
mixin file(id, name, label, accept)
    +control(id, name, label)
        +input(id, "file", name)(accept=accept)

//- Text area input
mixin text_area(id, name, label, rows)
    - var has_error = (errors && errors[name])
    - attributes.id = id
    - attributes.name = name
    - attributes.rows = rows || 3
    - if(has_error) attributes.value = errors[name].msg

    +control(id, name, label)
        textarea.form-control&attributes(attributes)

mixin input(id, type, name)
    - var has_error = (errors && errors[name])
    - attributes.id = id
    - attributes.type = type
    - attributes.name = name
    - if(has_error) attributes.value = errors[name].msg

    input.form-control&attributes(attributes)

mixin control(id, name, label)
    - var has_error = (errors && errors[name])
    - var control_class = "form-group" + (has_error ? " has-error" : "")
    - var control_id = id + "_control"
    - var help_id = id + "_help"

    div(id=control_id class=control_class)
        label.control-label(for=id)= label
        block
        if has_error
            span.help-block(id=help_id)= errors[name].msg
        else
            span.help-block(id=help_id)

mixin submit(value)
    button.btn.btn-success(type="submit")= value
