mixin avatar(replay)
    img(src="https://a.ppy.sh/" + replay.player.user_id width="50px" height="50px")

mixin profile(replay)
    a(href=replay.get_player_link()) #{replay.player.username}

mixin beatmap(replay)
    a(href=replay.get_beatmap_link()) #{replay.beatmap.artist} - #{replay.beatmap.title}

mixin mods(replay)
    each mod in replay.get_mods()
        img(src="/img/mods/" + mod + ".png" height="30px")
