mixin mode_icon(replay)
    i(class="#{replay.get_game_mode_icon()}")

mixin avatar(replay)
    img(src="https://a.ppy.sh/" + replay.player.user_id height="63px")

mixin profile(replay)
    a(href=replay.get_player_link()) #{replay.player.username}

mixin beatmap(replay)
    a(href=replay.get_beatmap_link()) #{replay.beatmap.artist} - #{replay.beatmap.title} [#{replay.beatmap.version}]

mixin mod(mod)
    - attributes.src = "/img/mods/" + mod.id + ".png"
    - attributes.height = "30px"
    - attributes["data-toggle"] = "tooltip"
    - attributes["data-placement"] = "top"
    - attributes["title"] = mod.name
    img&attributes(attributes)

mixin mods(replay)
    - var mods = replay.get_mods()

    if mods.length == 0
        span None
    else
        each mod in mods
            +mod(mod)
